<div class="container">
  <div class="row">
      <div class=" col-md-12 col-sm-12">
        <p>
            <a class="btn btn-light" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Our history</a>
            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Designing a better future for our planet</button>
            <button class="btn btn-light" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"> both info</button>
          </p>
        </div>

          <div class="row">
            <div class=" col-md-12 col-sm-12">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    Rolls-Royce has remained one of the most famous names in engineering throughout the world, find out more about our history and the keys milestones that have helped shape us.
                    <img src="../../assets/img/creator.webp" alt="">
                </div>
            </div>
              </div>
            </div>
            <div class=" col-md-12 col-sm-12">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                    "In 25 years, our business will look very different, with new customers and new competitors. We are in a unique position to really influence the future of the markets we serve, and this planet we inhabit."

                    <img src="../../assets/img/zbe.webp" alt="">
                </div>
            </div>
              </div>
            </div>
          </div>
      </div>
      </div>
<!-- end buttons -->

<div class="container">
<div class="row">
  <div class="col-lg-3">
    <div class="profile">
     <img src="../../assets/img/pppp.jpg" class=" img-fluid" alt="">
     <h1>PHANTOM IV</h1>
     <p>Rolls-Royce replaced Daimler as the preferred motor car supplier to the British monarchy in the early 1950s. Her Royal Highness Princess Elizabeth took delivery of the first Phantom IV in 1950. Phantom IV is one of the rarest Rolls-Royce motor cars in the world, with only 18 ever built and was designed exclusively for royalty and heads of state, By the late 1950s, the Rolls-Royce Phantom V had arrived which was powered by a V8 engine - it was a huge success.

    </p>

    </div>
  </div>
  <div class="col-xl-9">
    <div class="info">
      <img src="../../assets/img/state.jpg" class="img-fluid" alt="">
      <h3>STATE-OF-THE ART FACILITY</h3>
      <p>Each Rolls-Royce motor car is now built by hand at their state-of-the-art manufacturing facility and headquarters in Goodwood, England. Goodwood was designed by architect Sir Nicholas Grimshaw and merges effortlessly into the beautiful West Sussex countryside.</p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="content">
          <img src="../../assets/img/hh.jpg" class="img-fluid" alt="">
          <h2>NEW APPEAL</h2>
          <p>In the 1960s, Rolls-Royce began to appeal to a new breed of owners. Actors, rock stars and celebrities chose the Rolls-Royce marque as a symbol of their success and wealth.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="content">
          <img src="../../assets/img/hhhh.jpg" class="img-fluid" alt="">
          <h2>THE SILVER DAWN</h2>
          <p>Until 1959, each Silver Wraith had an individual, coach-built body which meant that the Silver Wraith was a heavy motor car. </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="content">
          <img src="../../assets/img/h1h1h1.jpg" class="img-fluid" alt="">
          <h2>PHANTOM III</h2>
          <p>In the 1930s, Rolls-Royce broke world records on land and sea. It also saw the arrival of Rolls-Royce Phantom III  the first-ever Rolls-Royce to be built with a V12 engine thanks to the arrival of automation in the industry.</p>
        </div>
      </div>
  </div>

  </div>
</div>
</div>

